
   <div class="field">
    <h3>ログイン</h3>
    <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
    <table>
      <tbody>
        <tr>
          <th><div class="aa">必須</div></th>
          <td><%= f.email_field :email, autofocus: true, autocomplete: "email", :placeholder => "メールアドレス", size: '30' %></td>
        </tr>
        <tr>
          <th><div class="aa">必須</div></th>
          <td><%= f.password_field :password, autocomplete: "current-password", :placeholder => "パスワード", size: '30' %></td>
        </tr>
        <tr>
          <th></th>
          <td><%= f.submit "ログイン", class: 'btn btn-primary' %></td>
        </tr>
        <% end %>
        <tr>
          <th></th>
          <td><%= link_to '新しいアカウントを作成', new_user_registration_path %></td>
        </tr>
      </tbody>
    <table>
  </div>


 
