<%= render "users/shared/bubun" %>

<div class="row">
<h3>アカウント編集</h3>

<table>
 <tbody>
  <%= form_with model:@user, url: user_path(@user), local: true do |f| %>
  <tr>
   <th><%= f.label :メールアドレス %></th>
   <td><%= f.email_field :email, autofocus: true, autocomplete: "email", maxlength: "50", size: "50" %></td>
  </tr>
  <tr>
   <th><%= f.label :変更後パスワード（変更する場合のみ入力） %></th>
   <td><%= f.password_field :password, autofocus: true, autocomplete: "new-password", maxlength: "50", size: "50" %></td>
  </tr> 
  <tr>
   <th><%= f.label :パスワード確認用（変更する場合のみ入力）%></th>
   <td><%= f.password_field :password_confirmation, autocomplete: "new-password", maxlength: "50", size: "50" %></td>
  </tr>
  <tr>
   <th><%= f.label :現在のパスワード）%></th>
   <td><%= f.password_field :encrypted_password, autocomplete: "new-password", maxlength: "50", size: "50" %></td>
  </tr>
  <tr>
   <td><%= f.submit "更新", class: 'btn btn-primary' %></td>
  <% end %>
  </tr>
 </tbody>
</table>
</div>