<div class="row">
  <div class="col-2">
   <%= render "users/shared/bubun" %>
  </div>

<div class="col-10">
<div class="out">
 <div class="in">
 <h3>プロフィール</h3>
  <table class="profiletable">
   <tbody>
    <tr>
     <th></th>
     <th></th>
     <td><%= attachment_image_tag @user, :profileimage, fallback: "no_image_logo.png", size: '80x80', class: "aicon" %></td>
    </tr>
    <%= form_with model:@user, url: user_path(@user), local: true do |f| %>
     <tr>
      <th><%= f.label :アイコン画像 %></th>
      <th><div class="aa">必須</div></th>
      <td>
        <label><%= check_box_tag :image_delete %>画像なし</label>
        <label><%= f.attachment_field :profileimage %></label>
      </td>
     </tr>
    <tr>
     <th><%= f.label :名前 %></th>
     <th><div class="aa">必須</div></th>
     <td><%= f.text_field :name, autofocus: true, required: true, class: 'form-control', maxlength: "40", size: "40" %></td>
    </tr>
    <tr>
     <th><%= f.label :自己紹介 %></th>
     <th><div class="aa">必須</div></th>
     <td><%= f.text_area :profile, autofocus: true, class: 'form-control', size: '40x5' %></td>
    </tr>
    <tr>
     <th><%= f.submit "更新する", class: 'btn btn-primary' %></th>
     <th></th>
     <td></td>
    <% end %>
    </tr>
   </tbody>
  </table>
 </div>
</div>
</div>
 
</div>
