  <table class="acounttable">
   <tbody>
    <%= form_with model: @reservation, url: confirm_path, method: :post, local: true do |f| %>
    <tr>
     <td><%= f.label :startdate ,"開始日" %></td>
    </tr>
    <tr>
     <td><%= f.date_field :startdate, class: 'date' %></td>
    </tr>
    <tr>
     <td><%= f.label :enddate ,"終了日" %></td>
    </tr>
    <tr>
     <td><%= f.date_field :enddate, class: 'date' %></td>
    </tr>
    <%= f.hidden_field :user_id, :value => current_user.id %>
    <%= f.hidden_field :room_id, :value => @room.id %>
    <%= f.hidden_field :price, :value => @room.price %>
    <tr>
     <td><%= f.label :使用人数 %></td>
    </tr>
    <tr>
     <td><%= f.number_field :human, autofocus: true %></td>
    </tr>
    <tr>
     <td><%= f.submit "確認画面へ進む", class: 'btn btn-primary' %></td>
    </tr>
    <% end %>
   </tbody>
  </table>