
<div class="top">
   </br>
    <div class="form-area">
    <table class="areatable">
     <tbody>
     <tr>
      <td></td>
      <td><p>PotepanShareで体験したことのない旅をしよう</p></td>
     </tr>
     <tr>
     <td>エリア</td>
     <td><input type="text" name="area" id="area" value="" class="nyu2" placeholder="東京"></td>
     </tr>
     <tr>
      <td></td>
      <td><%= link_to '探す', root_path, class: 'btn btn-primary' %></td>
     </tr>
     </tbody>
     </table>
    </div>
</div>

    <div class="under">
    　<h1>おすすめのエリア</h1>
      </br>
    　 <%= link_to image_tag("img_tokyo.png"), root_path, size:'130x100' %>
     　<%= link_to image_tag("img_osaka.png"), root_path, size:'130x100' %>
     　<%= link_to image_tag("img_kyoto.png"), root_path, size:'130x100' %>
     　<%= link_to image_tag("img_sapporo.png"), root_path, size:'130x100' %>
    </div>
