<h3>部屋一覧</h3>


  <%= paginate @rooms %>
  <div class="row">
  <% @rooms.each do |room| %>
  <div class="col-md-3">
  
  <%= link_to room_path(room), class: "roomarea" do %>
   <div class="roomarea">
    
    </br>
   <%= attachment_image_tag room, :roomimage, fallback: "no_image_logo.png", size: '300x160' %>
   </br>
   <div class="roomname">
   <%= room.roomname %>
   </div>
   <div class="address"><%= room.address %></div>
    <div class="price">￥<%= room.price %></div>
  
   </div>
   <% end %>
    
  
   </div>
   <% end %>
   </div>
