<h3>ルーム情報登録</h3>
 <%= render "shared/error", obj: @room %>
 
 <%= form_with(model: @room, local: true) do |f| %>
  <table>
    <tr>
      <th><%= f.label :roomname ,"ルーム名" %></th>
      <td><%= f.text_field :roomname, size: "40", :placeholder => "ルーム名を入力" %></td>
    </tr>
    <tr>
      <th><%= f.label :roomprofile ,"ルーム紹介" %></th>
      <td><%= f.text_area :roomprofile, size: '40x5', :placeholder => "ルーム説明を入力" %></td>
    </tr>
    <tr>
      <th><%= f.label :price ,"料金" %></th>
      <td><%= f.number_field :price, :placeholder => "一日辺りの料金を入力" %></td>
    </tr>
    <tr>
      <th><%= f.label :address, "住所" %></th>
      <td><%= f.text_field :address, :placeholder => "住所を入力" %>
      </td>
    </tr>
    <tr>
      <th><%= f.label :ルーム画像 %></th>
      <td><%= f.attachment_field :roomimage %></td>
    </tr>
  </table>

      <p><%= f.submit "登録", class: 'btn btn-primary' %></p>
  <% end %>
