<h2>部屋</h2>
 
<%= attachment_image_tag @room, :roomimage, fallback: "no_image_logo.png", size: '480x320' %>

<%= image_tag 'no_img.png', size: '80x80', class: "aicon" %>
<%= @room.roomname %>
<%= @room.roomprofile %>
<%= @room.address %>
 
 <%= render "reservations/new" %>