<h2>部屋</h2>

<div class="container">
 <div class="row">
  <div class="col-8">
 
<%= attachment_image_tag @room, :roomimage, fallback: "no_image_logo.png", size: '620x420' %>
</br>
<%= image_tag 'no_img.png', size: '80x80', class: "aicon" %>
<%= @room.id %>
<%= @room.user_id %>
<%= @room.roomname %>
<%= @room.roomprofile %>
<%= @room.address %>
 </div>
 <div class="col-4">
  <h3>￥<%= @room.price %> /日</h3>
  <%= render "shared/error", obj: @reservation %>
  <%= render "reservations/new" %>

 </div>
 
 </div>
</div>