<header>

 <%= link_to image_tag("logo.png"), root_path %>

<input type="text" name="area" id="area" value="" class="nyu" placeholder="エリア">
<input type="text" name="keyword" id="keyword" value="" class="nyu" placeholder="キーワード">

<% if user_signed_in? %>

 <%= current_user.name %>
   <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
    <%= attachment_image_tag current_user, :profileimage, fallback: "no_image_logo.png", size: '100x80' %>
    </a>
   <ul class="dropdown-menu">
     <li><a href="#"><%= link_to 'ルーム登録', account_path(current_user), class: 'link' %></a></li>
     <li><a href="#"><%= link_to '予約済みルーム一覧', account_path(current_user), class: 'link' %></a></li>
     <li role="separator" class="divider"></li>
     <li><a href="#"><%= link_to '登録済みルーム一覧', account_path(current_user), class: 'link' %></a></li>
     <li><a href="#"><%= link_to '設定', account_path(current_user), class: 'link' %></a></li>
     <li><a href="#"><%= link_to 'ログアウト', destroy_user_session_path, method: :delete, class: 'link' %></a></li>
   </ul>

 <% else %>
 <%= link_to 'ログイン', new_user_session_path, class: 'btn btn-primary' %>
 <%= link_to '登録する', new_user_registration_path, class: 'btn btn-secondary' %>
<% end %>

</header>